*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: orange;
    color: white;
    padding: 15px;
}

.row-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 100px;
}

ul{
    text-align: center;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
}

/* START OF MAIN */
.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.col-33{
    width: calc(100% / 3);
}

.content{
    margin: 10px;
    position: relative;
}


.content img{
    width: 100%;
}


.overlay{
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, 5);
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




