*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    width: 100%;
    background-color: rgb(255,105,0);
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.row-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 100px;
}

ul{
    text-align: center;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
}

/* START OF MAIN */
.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.col-33{
    width: calc(100% / 3);
}

.content{
    margin: 10px;
    position: relative;
}


.content img{
    width: 100%;
}

.font-15px{
    font-size: 15px;
    font-weight: lighter;
}

.item{
    font-size: 15px;
    font-weight: bold;
}

#price{
    font-weight: bold;
    color: red;
}

#old-price{
    text-decoration: line-through;
    color: rgb(105, 105, 105);
}

.label{
    position: absolute;
    bottom: 80px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.red{
    background-color: red;
}

.green{
    left: 40px;
    bottom: 80px;
    background-color: green;
}

footer{
    width: 100%;
    padding: 5px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

h4{
    padding-bottom: 10px;
}
.info{
    padding-right: 5px;
}

.overlay{
    opacity: 0;
    position: absolute;
    display: flex;
    top:0;
    justify-content: center; 
    align-items: center;
}

.col-33:hover .overlay{
    opacity: 1
}

.heart{
    background-color: white;
    padding: 8px 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.heart:hover{
    color: red;
    cursor: pointer;
}

h5{
    text-align: left;
    padding: 5px;
}